body{
	background-color: grey;
}
nav{
	background-color: red;
	height: 25px;
	line-height: 25px;
	
}
nav li{
	display: inline;
	list-style-type: none;
	margin: 0px 10px;
	color: white;
}
/* nav li:nth-child(even){
	background-color: blue;
} */
.bg-blue{
	background-color: blue;
}
nav li ul{
	background-color: black;
	display: none;
}
nav li ul li{
	display: block;

}
nav li a{

	text-decoration: none;
	padding: 10px 10px;
	color: white;
	text-transform: uppercase;
}
nav li a:hover{
	background-color: black;
	color: red;
}
nav li a:focus{
	background-color: yellow;
	color: black;
}
/* .box{
	background-color: black;
	width: 100px;
	height: 100px;
	overflow: hidden;
	color: white;
}
.margin{
	margin: 100px 0px 0 300px;
}
.padding{
	padding: 100px 0px 0 300px;	
}
 */