*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
ul.simple-menu{
	background-color: black;
	list-style-type: none;
	padding-left: 10px;
	width: 100%;
}
ul.simple-menu li{
	display: inline-block;
}
ul.simple-menu li a{
	display: block;
	color: white;
	text-decoration:none;
	font-size: 19px;
	text-transform: uppercase;
	padding: 25px 30px;
	font-weight: 800;
	transition: 5s all;

}
ul.simple-menu li a:hover{
	background-color: yellow;
	color: black;
	border: 4px solid red;
	font-weight: 800;
}
ul.simple-menu li a:focus{
	background-color: yellow;
	color: black;
}

/*submenu*/
.submenu{
	margin: 0;
	padding: 0;
	background-color: red;
	list-style-position: inside;
	/* list-style-image: url('../check.png'); */
	list-style-type: none;
	border: 3px solid blue;
}
.submenu li{
	border: 1px solid yellow;
	display: inline-block;
	color: white;
	
	/* display: inline-block; */
}
.submenu li a{
	background-color: white;
	padding: 25px;
	display: inline-block;
}
.submenu li a:hover > ul{
	display: none;

}
ul.submenu-ul{
	margin: 0px;
	padding: 0px;
	top: 100;
	width: 170px;
	position: absolute;
}
.submenu-ul li{
	width: 100%;
	display: inline-block;
	list-style-type: none;
}
.submenu-ul li a{
	display: block;
}


